<div align="center">
				<table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" bordercolor="#000000" dir="rtl" id="table5">
					<tr>
						<td width="8">
						<img border="0" src="images/i/z-up-r.jpg" width="8" height="41"></td>
						<td background="images/i/z-up-b.jpg" align="center">
						{title}</td>
						<td width="4">
						<img border="0" src="images/i/z-up-l.jpg" width="8" height="41"></td>
					</tr>
					<tr>
						<td width="8" background="images/i/z-r.jpg">&nbsp;</td>
						<td>{text}</td>
						<td width="4" background="images/i/z-l.jpg">&nbsp;</td>
					</tr>
					<tr>
						<td width="8">
						<img border="0" src="images/i/z-up-rr.jpg" width="8" height="14"></td>
						<td background="images/i/z-up-bb.jpg">
						<img border="0" src="images/i/z-up-bb.jpg" width="8" height="14"></td>
						<td width="4">
						<img border="0" src="images/i/z-up-ll.jpg" width="8" height="14"></td>
					</tr>
				</table>
			</div>